<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />
		
	<logger name="org.springframework.web" level="DEBUG" />
		
	<appender name="ERRO"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>caller-%d{yyyy-MM-dd}.log
			</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<logger name="com.microthingsexperiment" level="DEBUG">
		<appender-ref ref="ERRO" />
		<appender-ref ref="CONSOLE" />
	</logger>
</configuration>